/* styles.css */
.glass {
    position: relative;
    width: 200px;
    height: 250px;
    border: 5px solid;
    z-index: 1;
}

.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: #00aaff;
}